{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{# @see https://github.com/avanzu/AdminThemeBundle/blob/master/Resources/docs/layout.md #}
{% block title %}DdxSR{% endblock %}
{% block page_title %}Dashboard{% endblock %}
{% block page_subtitle %}Dash{% endblock %}
{% block avanzu_admin_footer %}
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Work in progress</b>
        </div>
        <strong><a href="https://github.com/Ddall/SmartRobot">DdxSmartRobot</a></strong>
    </footer>
{% endblock %}
