{% extends "::base.html.twig" %}
{% block title %}Ddx SmartRobot{% endblock %}
{% block page_title %}
    Strategy - {{ strategy.name|default('Unnamed strategy #'+ strategy.id) }}
    <a href="{{ path('dr_strategy_edit', {'strategy_id': strategy.id }) }}" class="btn btn-primary"><i class="fa fa-cog"></i> Edit</a>
{% endblock %}
{% block page_subtitle %}{% endblock %}
{% block page_content %}
    <div class="container-fluid">
        <div class="row">
            <h3>Indicators <a href="{{ path('dr_strategy_add_indicator', {'strategy_id' : strategy.id }) }}" class="btn btn-primary"><i class="fa fa-plus"></i> Add</a></h3>
            <div class="content">

            </div>
        </div>
    </div>
{% endblock %}
