{% extends "::base.html.twig" %}
{% block title %}Ddx SmartRobot{% endblock %}
{% block page_title %}Dashboard{% endblock %}
{% block page_subtitle %}{% endblock %}
{% block page_content %}

<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green">
                <i class="fa fa-clock-o"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Last update</span>
                <span class="info-box-number">{{ lastUpdate|date(format_datetime) }}</span>
            </div><!-- /.info-box-content -->
        </div>
    </div>
</div>

{% endblock %}
