{% extends "::base.html.twig" %}
{% block title %}Ddx SmartRobot{% endblock %}
{% block page_title %}Dashboard{% endblock %}
{% block page_subtitle %}{% endblock %}
{% block page_content %}


<div class="info-box">
    <!-- Apply any bg-* class to to the icon to color it -->
    <span class="info-box-icon bg-green"><i class="fa fa-cogs-o"></i></span>
    <div class="info-box-content">
        <span class="info-box-text">Last update</span>
        <span class="info-box-number">(None)</span>
    </div><!-- /.info-box-content -->
</div><!-- /.info-box -->
{% endblock %}
