{% extends "::base.html.twig" %}
{% block title %}Ddx SmartRobot{% endblock %}
{% block page_title %}Markets{% endblock %}
{% block page_subtitle %}{% endblock %}
{% block page_content %}

{% for market in markets %}
    <div class="col-md-4">
        <div class="box {% if market.hasActiveTradingPairs %}box-success{% endif %}">
            <div class="box-header with-border ">
                <a href="{{ path('dr_market_show', {'market_id': market.id}) }}"><h3 class="box-title">{{ market.name }}</h3></a>
                <div class="box-tools pull-right">
                    {% if not market.hasActiveTradingPairs %}
                        <span class="label label-warning">Disabled</span>
                    {% endif %}
                    <a href="#"><i class="fa fa-cog"></i></a>
                </div>
            </div>
            <div class="box-body">
                <p>Active trading pairs</p>
                {% if market.activeTradingPairs is not empty %}
                <div class="list-group">
                    {% for tradingPair in market.tradingPairs %}
                        {% if tradingPair.isActive %}
                            <a href="{{ path('dr_tradingpair_show', {'tradingPair_id': tradingPair.id}) }}" class="list-group-item">{{ tradingPair.name }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                {% else %}
                    <strong>No active trading pairs</strong> <a href="#">Enable trading pairs</a>
                {% endif %}

            </div>

        </div>
    </div>
{% endfor %}
{% endblock %}
